body{
    font-family: 'Spline Sans', sans-serif;
}

/* header */
.banner {
    width: 100%;
    height: 600px;
    background-image: url('images/capa2.jpg');
    background-position: center;
    position: relative;
}